<configuration>

 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
   <encoder>
     <pattern>%date{mm:ss.SSS} [%thread] %-5level %logger{20} - %message %n</pattern>
   </encoder>
 </appender>

 <logger name="frc.robot.commands" level="INFO"/>
 <logger name="frc.robot.subsystems" level="INFO"/>
 <logger name="frc.robot.subsystems.CommandSwerveDrivetrain" level="INFO"/>
 <logger name="frc.robot.commands.ElevatorDefaultCommand" level="DEBUG"/>

 <root level="INFO">
   <appender-ref ref="STDOUT"/>
 </root>

</configuration>
